.Root {
    padding: 16px;
  }
  
  .GridItemContent {
    padding: 8px;
  }
  
  .GridItemWrapper {
    background-color: gainsboro;
  }
  
  .GridLayout {
    min-height: 30rem;
    width: 100%;
    background-color: rgb(195, 245, 228);
  }
  